.custom-footer-styles {
  background-color: black;
  color: white;
  padding-top: 30px;
}
.custom-footer-mission {
  color: white;
}

.custom-footer-copyr {
  text-align: center;
}

.custom-footer-sitemap-links {
  padding-left: 50px;
}
