.custom-our-services-body {
  text-align: center;
  width: 80vw;
  margin: auto;
}

.custom-services-title {
  margin-bottom: 5vh;
}

.custom-home-service-desc {
  width: 5vw;
  height: fit-content;
}
